{% extends 'base.html' %}

{% block title %}
posts
{% endblock %}

{% block body %}
<div class="mt-5">
  <h1>all the posts</h1>
{% if articles|length > 0 %}
  {% for el in articles %}
    <div class="alert alert-info">
      <h2>{{ el.title }}</h2>
      <p>{{ el.intro }}</p>
      <b>date: {{ el.date.date() }}</b>
      <p>{{ el.text }}</p>
      <a href="/posts/{{ el.id }}" class="btn btn-warning">more</a>
    </div>
  {% endfor %}
{% else %}
<p>no posts yest</p>
{% endif %}
</div>
{% endblock %}
