{% extends 'base.html' %}

{% block title %}
create article
{% endblock %}

{% block body %}
<h1>update Article</h1>
<form>
  <label for="title">title</label>
  <input type="text" name="title" id="title" value="{{ article.title}}" placeholder="enter a title" class="form-control"><br>
  <label for="intro">intro</label>
  <textarea name="intro" id="intro" placeholder="enter an intro" class="form-control">{{ article.intro}}</textarea><br>
  <label for="text">text</label>
  <textarea name="text" id="text" placeholder="your article" class="form-control">{{ article.text}}</textarea><br>
  <submite type="submit" class="btn btn-success" value="update">update</submite>

</form>
{% endblock %}
